*{
    margin:0px;
    padding:0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.top{
    width:100%;
    height:auto;
    margin:0px;
    padding:10px;
    position:fixed;
    box-shadow: 0 0 10px black;
    background-color: white;
}
.btn{
    border:0px;
    font-size: larger;
    font-weight: 800px;
    cursor: pointer;
    margin-left:20px;
    color:black;
    margin-bottom:10px;
    margin-top:0px;
    background-color: white;
}
.image1{
    background-image:url("map.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
    height:550px;
    width:100%;
}
.btn:hover{
    text-decoration: underline;
}
.forimage{
    background: rgb(252,252,252);
    background: linear-gradient(180deg, rgba(252,252,252,0.1016456582633054) 0%, rgba(252,252,252,0.291281512605042) 100%);
    width:100%;
    height:550px;
}