*{
    margin:0px;
    padding:0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.top{
    width:100%;
    height:40px;
    margin:0px;
    padding:10px;
    position:fixed;
    background-color: white;
}
.btn1{
    border:0px;
    font-size: larger;
    font-weight: 800px;
    cursor: pointer;
    margin-left:70px;
    color:black;
    margin-bottom:10px;
    margin-top:0px;
    background-color:white;
}
.btn1:hover{
    text-decoration: underline;
}
.leftimage{
    margin-left:270px;
    margin-top:30px;
    font-size: xx-large;
    border:1px solid black;
    border-radius:10px;
    background-color:rgba(255, 255, 255, 0.405);
    cursor: pointer;
    background-color:;
    padding:10px;
}
.image1{
    background-image:url("busimage.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    /* background-attachment:fixed; */
    height:450px;
    width:100%;
    padding-top:100px ;
}